<h1>{{ question.question_text }}</h1>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}


<!-- post 방식일때 csrf 기능 적용 -->
<form action="{% url 'vote' question.id %}" method="post">

    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice"
    id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">
    {{ choice.choice_text }}
    </label><br>

{% endfor %}
 <input type="submit" value="Vote">
</form>

<button onclick="move()">투표결과 확인</button>
<script src = 'https://code.jquery.com/jquery-3.4.1.min.js'></script>
<script>
    $('input:submit').click(function() {
        $.ajax({
            url: '/polls/{{question.id}}/vote/',
            type: 'post',
            data: {
                'choice': $('[name=choice]').val(),
                'csrfmiddlewaretoken' : $('[name=csrfmiddlewaretoken]').val(),
                },
            success: function(res) {
                alert('완료');
            }
        })
        return false;
    });


    function move() {
        location = '/polls/{{question.id}}/results/'
    }
</script>